@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

:root {
  --primary: #ffb667;
  --primary-dark: #764006;
}

body {
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: var(--primary);
  color: var(--primary-dark);
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: arial;
  font-size: 16px;
}

button {
  background: var(--primary-dark);
  color: white;
  padding: 0.5rem 1.5rem;
  border: 0;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 16px;
}

textarea {
  font-family: arial;
  font-size: 16px;
  border: 0;
  padding: 1rem;
}

.logo {
  font-family: Amatic SC;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.dict-setter .container,
.index .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dict-setter .dict-text-container,
.index .main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

/*



Index



*/

.index .dict-text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.index #get-word-container {
  text-align: center;
}

.index #word-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.index #word-container .word {
  font-size: 5rem;
  font-weight: bold;
}

/*



Dict Setter



*/

.dict-setter textarea {
  height: 300px;
  width: 200px;
}
